<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FalconJS Dev Server</title>
    <style>
      body {
        font-family: sans-serif;
        padding: 1em;
        line-height: 1.6;
      }
      .highlight {
        background-color: #ffecb3;
      }
    </style>
  </head>
  <body>
    <div id="root"></div>
    <script type="module" src="/examples/app.js"></script>
    <link rel="stylesheet" href="/style.css" />
  </body>
</html>
